Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\.(?:jpe?g|gif|bmp|png|ico|tiff|css|js|webp|mp3|mp4)$ [NC]


RewriteRule ^(.*)$ public/index.php?$1 [L,QSA]  

