
--primary

html {
    scroll-behavior: smooth;
  }
.navbar{
    z-index: 1;
}
nav{
    width: 100%;
    position:relative;
    top: 0;
    left: 0;
    padding: 20px 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}
nav .logo{
    width: 80%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
 
}

.shadow{
  text-shadow: 1px 1px 2px #000000a6 !important;
}
.hero {
  background-image: linear-gradient(rgba(15, 7, 50, 0.079),rgba(12, 3, 51, 0.084)), url(../img/Umdoni-Beach_Site2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 -200px 0 !important;
  top: -209px;
  position: relative;
  min-height: 82vh;
  width: 100%;
  justify-items: center;
  transform: scale(1);
} 
@keyframes animatedBackground {
  from {
    background-image:  url('../img/Umdoni-Beach_Site2.jpg');
    background-position: 0 0;
  }
  to {
    background-image:  url('../img/Umdoni-Beach_Site3.jpg');
    background-position: 100% 0;
  }
}
#animate-area {
  background-repeat: repeat-x;
  animation: animatedBackground  linear infinite alternate;
  animation-timing-function: ease-in-out;
}

.watermark{
    background-color: rgba(0,0,0,.02);
    width: 80%;    
}

.jumbotron-content{
    text-align: center;
    top: 30%;
    position: absolute;
    justify-content: center;
}
.jumbotron-content h1{
    color: #fff;
}

.welcome-header{
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-weight: 200;
    font-size: 65px;
    color: #132a20f2;
    margin-top: 1em;
    text-shadow: 1px 1px 2px #000000a6;
}

.welcome-text{
    font-family: 'Times New Roman',Times,serif;
    font-weight: 200;
    font-size: 50px;
    color: #fff;
}

.background-video{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.news-video{
    width: 100%;
    border: 1px solid #00038fab;
    border-radius: 15px;
}

.card{
    border-radius: 12px!important;
}

.card-border{
  border: 2px solid #A5A3A3 !important;
}

.card-hover:hover{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(120,180,245,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(120,180,245,1);
    box-shadow: 0px 0px 15px 0px rgba(120,180,245,1);
    transition: all .3s ease-out 0s;
}

.card .card-footer .additional-card-info{
    display: none;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    object-position: top;
}



.tag-heading{
    position: absolute;
    min-height: 400px;
}

.partners img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}




/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  /* Your styles here */
  .jumbotron-content{
    /* display:none; */
    font-size: 9px;
    top: 50%;
  }

  .jumbotron-content .subtitle{
    display: none;
  }
  nav ul li a{
    text-decoration: none;
    color: #fff !important;
    font-size: 25px;
}


.bg-picture {
height: auto !important;
}

#service-page{
  display: none !important;
}

.card-img-top {
  width: 100%;
  height: 80vw;
  object-fit: cover;
  transform: scale(.9);
}

.img-fluid.rounded-start{
  max-height: 200px;
  margin: auto;
  display: block;
margin-top: 3px;

}

.carousel{
  background-image: linear-gradient(rgba(0, 0, 0, 0.59),rgba(12, 3, 51, 0.084)), url(../img/Umdoni-Building_Front.jpg);
  height: 65vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.hero {
  background-image : linear-gradient(rgba(15, 7, 50, 0.079),rgba(12, 3, 51, 0.084)),
  url('../img/Umdoni-Beach_Site2.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0 0 -100 0 !important;
  position: relative;
	/* min-height: 40vh; */
	width: 100%;
  align-items: center;
  justify-items: center;
  transform: scale(1);
} 
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your styles here */
  .card-img-top {
    width: 100%;
    height: 80vw;
    object-fit:inherit;
    /* transform: scale(.99); */
  }
}

/* Medium devices (desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your styles here */
  .card-img-top {
    width: 100%;
    height: 50vw;
    object-fit:scale-down;
    /* transform: scale(.99); */
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your styles here */

}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  /* Your styles here */
}

.text-yellow{
  color: #F4CA00 !important;
  /* color: #c99001; */
    /* font-size: 3.5rem !important; */
    text-shadow: 1px 1px 2px #000000a6;
}

.text-blue{
  color: #0639b0 !important;
    border-color: #0639b0 !important;
  
}





.mac{
        background: url(../img/My-Post.jpg);
        background-size: cover;
        margin-bottom:0 !important;
        padding-bottom:0 !important;
        /* background: transparent; */
        min-height: 40vh;
}

.consulting{
        background: url(../img/consulting.jpg);
        background-size: cover;
        /* margin-bottom:0 !important; */
        /* padding-bottom:0 !important; */
        /* background: transparent; */
        min-height: 50vh;
}
.municipalities{
    /* background: url(../img/municipality.jpg); */
    background-size: cover;
    min-height: 40vh;
}

h1{
    color: #0e01c9;
    font-size: 3.5rem !important;
    text-shadow: 1px 1px 2px #000000a6;
}

a:hover{
    text-decoration: none !important;
}

a{
    text-decoration: none !important;
}

.growth{
    background: url(../img/growth.jpg);
    background-size: cover;
    margin-bottom:0 !important;
    padding-bottom:0 !important;
    height: 50vh;
}


.partnerships{
    background: url(../img/partnerships.jpg);
    background-size: cover;
    margin-bottom:0 !important;
    padding-bottom:0 !important;
    /* background: transparent; */
    min-height: 60vh;
}

.mines{
    background: url(../img/mines.jpg);
    background-size: cover;
    margin-bottom:0 !important;
    padding-bottom:0 !important;
    /* background: transparent; */
    min-height: 80vh;
}

.style1{
    background: rgb(54, 0, 0);
}

.style1 ul li, .style1 p, .style1 .text-secondary {
    color: #ddd !important;
}

.style2{
    background:rgba(86,86,83,1);
}

.style2 ul li, .style2 p, .style2 .text-secondary {
    color: #ddd;
}

.marketbar{
    top:120px; 
    z-index:2000; 
    border-radius: 5px;
}

	/*App Footer  */
section#appfooter {
        position:fixed;
        left:0px;
        bottom:0px;
        width:101%;
        background:#eee; 
        box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.3);
        z-index:3000;
        height: 5rem;
     }
    
         section.fBlock{
             display: block;
             float:left;
             width:25%;
             padding-bottom: 90px;
             height: 9em;
             text-align: center;
             line-height: 5em;
     }
     
     p.fType{
        margin-top: -32px !important;
        color:#4d4d4d;
        text-decoration: none;
     }
     
    p.fType.active{
       color: #1c79f1!important;
    }

    /* .text-secondary{
        color: #fff300  !important;
    } */


 

    .navicon{
       color:#4d4d4d;
    }
    
    .navicon.active{
      transition: all .5s ease-in-out forwards;
      transform: scale(1.5, 1.5);
      padding: 1.7rem;
      border:1px solid #b7b7b7;
      background: #b7b7b7;
      width:5em;
      height: 5em;
      margin:auto;
    }
    

    .footer-icon{
        width: 100px;
        height: 100px;
        font-size: x-large;
    }

/* Mobile */
@media screen and (max-width:400px){
    .welcome-header .welcome-text{
        font-size: 40px;
    }
    .welcome-header{
        font-size: 40px;
    }
    h1{
        font-size: 3rem !important;
    }
    iframe{
        width:100% !important;
    }
    .address{
        text-align: center !important;
    }
}

/* app */
@media all and (display-mode: standalone) {
    body{
      background: #efefef;
    }
    [data-apponly]{
      display: block;
    }
    [data-browseronly]{
      display: none;
    }
  
    .container{
      width:100%;
      padding-right: 1;
      padding-left: 1;
     
    }
    .mt-5,.my-5{
      margin-bottom: 1em !important;
    }
  
  }
  
  
  @media all and (display-mode: browser) {
    [data-apponly]{
      display: none;
    }
    [data-browseronly]{
      display: block;
    }
  
   #appfooter{
       display: none;
  } 
  #topheader{
   display:none;
  }
}


/* classes */
.content-section{
    padding-top: 2em;
    padding-bottom: 2em;
}

.blue{
   color: #1e2156;
}

.gold{
    color: #c99001;
}

.bg-offwhite{
    background-color: #f3f5f9b0 !important;
}


.bg-picture{
  background-image : linear-gradient(rgba(0, 0, 0, 0.59),rgba(12, 3, 51, 0.084)),
    url('../img/Umdoni-Building_Front.jpg');
    height: 65vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-primary{
    border-radius: 5px !important;
    background-color: #1e2156 !important;
}

.trans-white{
    background-color: rgba(255, 255, 255, 0.5);
}

.circle{
    border-radius: 100px;
    background-color: #d7eae4;
    width: 150px;
    height: 150px;
    text-align: center;
}

.hover-effect:hover{
    color: #18a52f;
    transition: 0.3s;
}

.rounded{
    border-radius: 25px !important;
}

.white-header{
    color: #e1daca !important;
    font-size: 3.5rem !important;
    text-shadow: 1px 1px 2px #000000a6;
}

.font-shadow{
    text-shadow: 1px 1px 2px #000000a6 !important;
}

.font-gugi{
    font-family: 'Gugi', cursive;
}

@media screen and (max-width:420px){
    iframe{
        width:auto;
    }

    .contactus{
        text-align: center;
    }
}

.preloader {
    /* Body Overlay */
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    /* Change Background Color */
    background: #fff;
    z-index: 99999; }
    .preloader .loader {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .preloader .loader .ytp-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 64px;
        margin-left: -32px;
        z-index: 18;
        pointer-events: none; }
        .preloader .loader .ytp-spinner .ytp-spinner-container {
          pointer-events: none;
          position: absolute;
          width: 100%;
          padding-bottom: 100%;
          top: 50%;
          left: 50%;
          margin-top: -50%;
          margin-left: -50%;
          -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
          -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
          -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
          animation: ytp-spinner-linspin 1568.23529647ms linear infinite; }
          .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
            -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
            -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
            animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
            .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              overflow: hidden;
              right: 50%; }
            .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              overflow: hidden;
              left: 50%; }
      .preloader .loader .ytp-spinner-circle {
        box-sizing: border-box;
        position: absolute;
        width: 200%;
        height: 100%;
        border-style: solid;
        /* Spinner Color */
        border-color: #d61626 #e42727e8 #cbced1;
        border-radius: 50%;
        border-width: 6px; }
      .preloader .loader .ytp-spinner-left .ytp-spinner-circle {
        left: 0;
        right: -100%;
        border-right-color: #cbced1;
        -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
      .preloader .loader .ytp-spinner-right .ytp-spinner-circle {
        left: -100%;
        right: 0;
        border-left-color: #cbced1;
        -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
  
  /* Preloader Animations */
  @-webkit-keyframes ytp-spinner-linspin {
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg); } }
  @keyframes ytp-spinner-linspin {
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg); } }
  @-webkit-keyframes ytp-spinner-easespin {
    12.5% {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    25% {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg); }
    37.5% {
      -webkit-transform: rotate(405deg);
      -moz-transform: rotate(405deg);
      -ms-transform: rotate(405deg);
      -o-transform: rotate(405deg);
      transform: rotate(405deg); }
    50% {
      -webkit-transform: rotate(540deg);
      -moz-transform: rotate(540deg);
      -ms-transform: rotate(540deg);
      -o-transform: rotate(540deg);
      transform: rotate(540deg); }
    62.5% {
      -webkit-transform: rotate(675deg);
      -moz-transform: rotate(675deg);
      -ms-transform: rotate(675deg);
      -o-transform: rotate(675deg);
      transform: rotate(675deg); }
    75% {
      -webkit-transform: rotate(810deg);
      -moz-transform: rotate(810deg);
      -ms-transform: rotate(810deg);
      -o-transform: rotate(810deg);
      transform: rotate(810deg); }
    87.5% {
      -webkit-transform: rotate(945deg);
      -moz-transform: rotate(945deg);
      -ms-transform: rotate(945deg);
      -o-transform: rotate(945deg);
      transform: rotate(945deg); }
    to {
      -webkit-transform: rotate(1080deg);
      -moz-transform: rotate(1080deg);
      -ms-transform: rotate(1080deg);
      -o-transform: rotate(1080deg);
      transform: rotate(1080deg); } }
  @keyframes ytp-spinner-easespin {
    12.5% {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    25% {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg); }
    37.5% {
      -webkit-transform: rotate(405deg);
      -moz-transform: rotate(405deg);
      -ms-transform: rotate(405deg);
      -o-transform: rotate(405deg);
      transform: rotate(405deg); }
    50% {
      -webkit-transform: rotate(540deg);
      -moz-transform: rotate(540deg);
      -ms-transform: rotate(540deg);
      -o-transform: rotate(540deg);
      transform: rotate(540deg); }
    62.5% {
      -webkit-transform: rotate(675deg);
      -moz-transform: rotate(675deg);
      -ms-transform: rotate(675deg);
      -o-transform: rotate(675deg);
      transform: rotate(675deg); }
    75% {
      -webkit-transform: rotate(810deg);
      -moz-transform: rotate(810deg);
      -ms-transform: rotate(810deg);
      -o-transform: rotate(810deg);
      transform: rotate(810deg); }
    87.5% {
      -webkit-transform: rotate(945deg);
      -moz-transform: rotate(945deg);
      -ms-transform: rotate(945deg);
      -o-transform: rotate(945deg);
      transform: rotate(945deg); }
    to {
      -webkit-transform: rotate(1080deg);
      -moz-transform: rotate(1080deg);
      -ms-transform: rotate(1080deg);
      -o-transform: rotate(1080deg);
      transform: rotate(1080deg); } }
  @-webkit-keyframes ytp-spinner-left-spin {
    0% {
      -webkit-transform: rotate(130deg);
      -moz-transform: rotate(130deg);
      -ms-transform: rotate(130deg);
      -o-transform: rotate(130deg);
      transform: rotate(130deg); }
    50% {
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
      transform: rotate(-5deg); }
    to {
      -webkit-transform: rotate(130deg);
      -moz-transform: rotate(130deg);
      -ms-transform: rotate(130deg);
      -o-transform: rotate(130deg);
      transform: rotate(130deg); } }
  @keyframes ytp-spinner-left-spin {
    0% {
      -webkit-transform: rotate(130deg);
      -moz-transform: rotate(130deg);
      -ms-transform: rotate(130deg);
      -o-transform: rotate(130deg);
      transform: rotate(130deg); }
    50% {
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
      transform: rotate(-5deg); }
    to {
      -webkit-transform: rotate(130deg);
      -moz-transform: rotate(130deg);
      -ms-transform: rotate(130deg);
      -o-transform: rotate(130deg);
      transform: rotate(130deg); } }
  @-webkit-keyframes ytp-right-spin {
    0% {
      -webkit-transform: rotate(-130deg);
      -moz-transform: rotate(-130deg);
      -ms-transform: rotate(-130deg);
      -o-transform: rotate(-130deg);
      transform: rotate(-130deg); }
    50% {
      -webkit-transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -o-transform: rotate(5deg);
      transform: rotate(5deg); }
    to {
      -webkit-transform: rotate(-130deg);
      -moz-transform: rotate(-130deg);
      -ms-transform: rotate(-130deg);
      -o-transform: rotate(-130deg);
      transform: rotate(-130deg); } }
  @keyframes ytp-right-spin {